/frontend/govflow-connect-main/govflow-connect-main/src/** text eol=lf
/frontend/govflow-connect-main/govflow-connect-main/eslint.config.js text eol=lf
/frontend/govflow-connect-main/govflow-connect-main/vite.config.ts text eol=lf
